<h1>Guess the secret number of Splendour</h1>
<!-- <p>Find me in app/views/games/secret_number.html.erb</p> -->
<%= form_tag(games_answer_path, method: "POST", class: "my_form") do %>
<%= text_field_tag "name", nil, placeholder: "What is your name?", autocomplete: "off" %>
<br>
<%= text_field_tag "guess", nil, placeholder: "Kindly guess a number between one and ten", autocomplete: "off" %>
<br>
<div class="button_holder">
  <%= submit_tag "Submit your guess to win a trip round Willy Wonka's Chocolate Factory", class: "my_button" %>
</div>
<% end %>
<%= @secret_number %>