<%= form_for(@ocean) do |f| %>
  <% if @ocean.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ocean.errors.count, "error") %> prohibited this ocean from being saved:</h2>

      <ul>
      <% @ocean.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.text_field :volume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
