<p id="notice"><%= notice %></p>

<h1>Listing New Artworks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Medium</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_artworks.each do |new_artwork| %>
    <tr>
      <td><%= new_artwork.name %></td>
      <td><%= new_artwork.year %></td>
      <td><%= new_artwork.medium %></td>
      <% if new_artwork.artist %>
      <td><%= new_artwork.artist.name %></td>
      <% else %>
      <td><%= link_to 'Add', "#" %></td>
      <% end %>
      <td><%= link_to 'Show', new_artwork %></td>
      <td><%= link_to 'Edit', edit_new_artwork_path(new_artwork) %></td>
      <td><%= link_to 'Destroy', new_artwork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New artwork', new_new_artwork_path %>