
	<h3><%= @shop["product_name"] %></h3>
	<h4 <%= @shop["product_code"] %></h4>
	Product Code: <%= @shop["product_code"] %><br>
	Product Name: <%= @shop["product_name"] %><br>
	Price: <%= @shop["price"] %><br>
	Expiry Date: <%= @shop["expiry_date"] %><br><br>

	<a href='/shop/list'>Back</a>

	

