<h3><%= @shop["product_name"] %></h3>
Product Code: <%= @shop["product_code"] %><br>
Product Name: <%= @shop["product_name"] %><br>
Price: <%= @shop["price"] %><br>
Expiry Date: <%= @shop["expiry_date"] %><br><br>
<a href='/shop/list'>Back</a>
<a href='/shop/<%= @shop["product_code"] %>/edit'>Edit</a>
<form action="/shop/<%= @shop["product_code"] %>/delete" method="POST">
	<input type="submit" value="Delete">
</form>


	

